@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat:wght@100&family=Poppins&family=Roboto+Slab&display=swap');

.contact-me{
    font-family: 'Bebas Neue', cursive;  
    text-align: center;  
    margin-top: 2rem!important;
    color:#345868;

}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

#textarea{
    min-height: 30vh;
    border:none;
    margin-top: 0.2rem;
}
