@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat:wght@100&family=Poppins&family=Roboto+Slab&display=swap');



.navbar-nav{
    margin-left: auto!important;
    margin-right: -2rem;
    
}
.nav-item{
    margin-right:  1.5rem;
}
.navbar{
  
    background:linear-gradient(rgba(221, 236, 246, 0.5),transparent);
    background-color:rgb(7, 171, 241)!important ;
    padding: 0;
}
.nav-item a{
font-family: 'Bebas Neue', cursive;
color:rgb(255, 255, 255);
text-transform: uppercase;
font-size: 1.2rem;
letter-spacing: 1.3px;




}

.navbar-nav > li a.active, .navbar-nav > li > a:focus{
    border-bottom: none;
 
    
}



/* ==============Media Query================ */

@media(max-width:480px){
    .navbar-toggler {
        border:0px;
        }
        .navbar-toggler:focus,
        .navbar-toggler:active,
        .navbar-toggler-icon:focus{
           
            outline: none!important;
            box-shadow: none;
            outline: none;
            box-shadow: none;
            border: none;
            cursor: pointer;
            
        }
    
   
 .navbar-nav > li a.active, .navbar-nav > li > a:focus{
            border-bottom: none;
        
 }



.navbar li a{

    margin-left: 1rem;
    line-height: 1.3;
}

.navbar-toggler-icon{
    width: 1rem;
    height: 1rem;
    
}
.myname{
    font-size: 3.4rem!important;

}

}

/* ==============min-width 480px================ */

@media(min-width:480px){
    .my-logo{

        margin-left: -1rem;
    }
    
    }



/* ===============max 980==================== */



@media (max-width:989px) {
   .my-logo{
    
        }

     .navbar-toggler {
    border:0px;
        } 

.navbar-toggler-icon{
    width: 1.5rem;
    height: 1.5rem;
     
    
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
           
 outline: none!important;
 box-shadow: none;
 outline: none;
 box-shadow: none;
 border: none;


}


}