@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.navbar-nav{
    margin-left: auto!important;
    
}
.nav-item{
    margin-right:  3rem;
}
.navbar{
  
    background:linear-gradient(rgba(203, 225, 238, 0.5),transparent);
    background-color:rgb(89, 196, 243)!important ;
    padding: 0;
}
.nav-item a{
font-family: 'Poppins', sans-serif; 
 color:white

}

.navbar-nav > li a.active, .navbar-nav > li > a:focus{
    border-bottom: 0.1860rem solid;
}

.navbar-toggler-icon{
    border: none;
    outline: none!important;
}





/* ==============Media Query================ */

@media(max-width:480px){
.navbar-toggler-icon{
    width: 1rem;
    height: 1rem;
    outline: none!important;
    box-shadow: none;
    
}

.navbar li a{
    font-size: smaller;
}



}