@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.navbar-nav{
    margin-left: auto!important;
    
}
.nav-item{
    margin-right:  2rem;
}
.navbar{
  
    background:linear-gradient(rgba(221, 236, 246, 0.5),transparent);
    background-color:rgb(7, 171, 241)!important ;
    padding: 0;
}
.nav-item a{
font-family: 'Poppins', sans-serif; 
color:rgb(255, 255, 255);

 

}

.navbar-nav > li a.active, .navbar-nav > li > a:focus{
    border-bottom: 0.1860rem solid;
}

.navbar-toggler-icon{
    border: none;
    outline: none!important;
}





/* ==============Media Query================ */

@media(max-width:480px){
    .navbar-toggler {
        border:0px;
        }
        .navbar-toggler:focus,
        .navbar-toggler:active,
        .navbar-toggler-icon:focus{
           
            outline: none!important;
            box-shadow: none;
            outline: none;
            box-shadow: none;
            border: none;
        }
    

.navbar li a{
    font-size: smaller;
}

.navbar-toggler-icon{
    width: 1rem;
    height: 1rem;
}

}


@media (max-width:989px) {
   .my-logo{
    margin-left: -1rem;
        }

     .navbar-toggler {
    border:0px;
        } 

.navbar-toggler-icon{
    width: 1.5rem;
    height: 1.5rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
           
 outline: none!important;
 box-shadow: none;
 outline: none;
 box-shadow: none;
 border: none;


}


}