@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat:wght@100&family=Poppins&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Montserrat&family=Poppins:ital,wght@0,400;1,800&family=Roboto:wght@900&display=swap');





ul li a ,h5 button{

 
  font-family: 'Montserrat', sans-serif;
}


.card-group {
  margin-top: 3rem;
  gap: 1rem;
}

.proj{
  text-align: center;

  font-family: 'Bebas Neue', cursive;
  margin-top: 2rem;
}

.btn-outline-primary{
margin-right: 1rem;
width: 5rem;

}
.card{
  background-color: rgb(235, 242, 249);
}

